<suite name = "Examen">

<!--    <groups>-->
<!--        <run>-->
<!--            <include name = "questions"></include>-->
<!--            <include name = "netflix"></include>-->
<!--        </run>-->
<!--    </groups>-->

    <test name = "Examen">
        <classes>
            <class name="InterviewQuestionSiteTest"/>
            <class name = "PruebaNetflixTest"></class>
        </classes>
    </test>
</suite>